{% extends 'blog_t/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos dolor et reiciendis 
        dolore quibusdam ea in dolores ut aperiam excepturi 
        suscipit nostrum vero, commodi quisquam quos exercitationem rem eligendi obcaecati.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos dolor et reiciendis 
        dolore quibusdam ea in dolores ut aperiam excepturi suscipit nostrum vero, commodi quisquam quos 
        exercitationem rem eligendi obcaecati.</p>
</div>
{% endblock content %}